@model dotnet_mvc.Models.Apontamento
@* @model dotnet_mvc.Models.Fase *@

@{
  ViewData["Title"] = "Apontamentos";
}

<div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Data</label>
      <input type="date" class="form-control" >
      <small id="emailHelp" class="form-text text-muted">Coloque a data do apontamento</small>
    </div>

    <div class="form-group">
      <label for="inputObservacao">Observacao</label>
      <input class="form-control" id="inputObservacao" placeholder="Obeservação">
    </div>

    <br />
    @* <div class="form-group">
      <label for="exampleInputPassword1">Selecione a fase</label>
      <select  class="form-control">
       <option>Default select</option>
      </select>
      <select  class="form-control">
       <option>Default select</option>
      </select>
    </div>  *@
    @* <div class="form-group">
      <label for="nome" class="form-label">Fase</label>
      <select asp-for="@Model.FaseId" asp-items="@(new SelectList(ViewBag.Fases, "Id", "Nome"))" class="form-select"></select>
      @Html.ValidationMessageFor(x => x.FaseId)
    </div> *@
    @* <div class="form-group">
      @Html.LabelFor(x => Model.faseId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-5">
          @Html.DropDownListFor(x => Model.faseId, new SelectList(Model.fases, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "id"})
          @Html.ValidationMessageFor(x => x.faseId, "", new { @class = "text-danger" })
      </div>
    </div> *@
    @* @Html.DropDownList("ddl",Model.Select(item => new SelectListItem {
      Value = item.RecordID.ToString(),
      Text = item.Name.ToString(),
      Selected = "select" == item.RecordID.ToString()
    })) *@
    @* <select name="listbox" id="listbox">
      @foreach (var item in fases) {
        <option value="@item.UserRoleId">
          @item.UserRole 
        </option>                  
      }
    </select> *@
    <div class="form-group">
      @Html.LabelFor(x => Model.SelectedFaseId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-5">
          @Html.DropDownListFor(x => Model.SelectedFaseId, new SelectList(Model.Fases, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Fase"})
          @* @Html.ValidationMessageFor(x => x.SelectedFaseId, "", new { @class = "text-danger" }) *@
      </div>
    </div>

    <br />
    <div class="form-group">
      <label for="exampleInputPassword1">Selecione a stream</label>
      <select class="form-control">
        <option>Default select</option>
      </select>
      @* <select asp-for="@Model.faseId" id="fase.id" asp-items="@(new SelectList(ViewBag. + , "id", "Nome"))" class="form-select"></select> *@
      @* @Html.ValidationMessageFor(x => x.StreamId) *@
    </div>

    <br />
    <div class="form-group">
      <label for="exampleInputPassword1">Selecione a atividades</label>
      <select class="form-control">
        <option>Default select</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
