@model dotnet_mvc.Models.Apontamento

@{
  ViewData["Title"] = "Apontamentos";
}

@section Scripts {
  <script>
    var componetAtividadesByStream = document.getElementsByClassName('componetAtividadesByStream');
    const LoadingAtividadesByStream = ( idStream ) => {
      var html = '<option value="0">Selecione uma Atividade</option>';
      $.getJSON(`api/atividades/byStream/${idStream}`, function (data) {
        $(data?.dbAtividadesByStream).each(function () {
          html += '<option value="'+this.id+'">'+this.nome+'</option>'
        });
          $("#componetAtividadesByStream").html(html);
      });
    }

    const postDataForApontamento = () => {
      var data = document.getElementById('inputData').value;
      var stream = document.getElementById('selectStream').value;
      var atividadesByStream = document.getElementById('componetAtividadesByStream').value;
      var fase = document.getElementById('selectFase').value;
      var horasParaAtividade = document.getElementById('selectHorasTrabalhadas').value;
      var Obeservação = document.getElementById('inputObservacao').value;
      
      @* let data_formata = `${data[0]}${data[1]}${data[2]}${data[3]}`;
      console.log(data_formata); *@

      console.log('Data: ', data);
      console.log('Stream: ', stream);
      console.log('Atividade: ', atividadesByStream);
      console.log('Fase: ', fase);
      console.log('Horas trabalhadas: ', horasParaAtividade);
      console.log('Obeservações: ', Obeservação);

      var apontamento = {
        apontamento: {
          data: data,
          SelectedStreamId: stream,
          SelectedAtividadesId: atividadesByStream,
          SelectedFaseId: fase,
          horasTrabalhada: horasParaAtividade,
          observacao: Obeservação
        }
      }

      $.ajax({  
        url: "/apotamento/gravarDados",
        type: 'POST',
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify( apontamento.apontamento )
      });

    }
  </script>
}


<div class="form-container">
  @* <form method="POST"> *@
    <div class="form-group">
      <label for="inputData">Data: </label>
      <input type="date" class="form-control" id="inputData" placeholder="">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Selecione a stream: </label>
      <select asp-for="@Model.SelectedStreamId" id="selectStream"  onchange="LoadingAtividadesByStream(this.value)" class="form-control">
        <option value="">
          Selecione uma Stream 
        </option>    
        @foreach (var item in ViewBag.Streans) {
          <option value="@item.id">
            @item.nome 
          </option>                  
        }
      </select>
    </div>

    <div class="form-group componetAtividadesByStream">
      <label for="inputAtividades">Selecione a atividades: </label>
      <select asp-for="@Model.SelectedAtividadesId" id="componetAtividadesByStream" class="form-control">
        <option value="0">Sem atividades cadastradas</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Selecione a fase: </label>
      <select asp-for="@Model.SelectedFaseId" id="selectFase"  class="form-control">
        <option value="">
          Selecione uma fase 
        </option>    
        @foreach (var item in ViewBag.Fases) {
          <option value="@item.id">
            @item.nome 
          </option>                  
        }
      </select>
    </div>

    <div class="form-group">
      <label for="inputSelectHoras">Selecione a quantidade de horas: </label>
      <select asp-for="@Model.horasTrabalhada" id="selectHorasTrabalhadas"  class="form-control">
        <option value="">
          Selecione uma hora 
        </option>    
        @foreach (var item in ViewBag.ScheduleNotes) {
          <option value="@item.value">
            @item.Horario 
          </option>                  
        }
      </select>
    </div>

    <div class="form-group">
      <label for="inputObservacao">Observacao</label>
      <input class="form-control" id="inputObservacao" placeholder="Obeservação">
    </div>

    <button type="submit" class="btn btn-primary" onclick="postDataForApontamento()">Cadastrar apontamento</button>
  @* </form> *@
</div>
